<div class="container">
    <h1>Private-space</h1>
    <div class="two">
        <div class="inner">
            <h3>
                Two Seater
            </h3>
            <h3>
                <span>08/10</span>
            </h3>
        </div>
        <mat-progress-bar mode="determinate" value="80"></mat-progress-bar>
    </div>
    <div class="five">
        <div class="inner">
            <h3>
                Five Seater
            </h3>
            <h3>
                <span>04/10</span>
            </h3>
        </div>
        <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
    </div>
    <div class="ten">
        <div class="inner">
            <h3>
                Ten Seater
            </h3>
            <h3>
                <span>05/10</span>
            </h3>
        </div>
        <mat-progress-bar mode="determinate" value="05"></mat-progress-bar>
    </div>
    <div class="fifteen">
        <div class="inner">
            <h3>
                Fifteen Seater
            </h3>
            <h3>
                <span>06/10</span>
            </h3>
        </div>
        <mat-progress-bar mode="determinate" value="60"></mat-progress-bar>
    </div>
</div>




