<div class="container">
    <h1> Available Spaces</h1>
    <div class="open" *ngFor="let element of data">
        <div class="inner" >
            <h3 class="btn" [routerLink]="['/form-module',element.Name_,element.No_Of_Seats]">
                {{element.Name_|uppercase }}
            </h3>
            <h3>
                <span>{{element.No_Of_Seats}}</span>

                <button (click)="handleClick(element.Id)" mat-fab aria-label="Example icon button with a delete icon">
                    <mat-icon>delete</mat-icon>
                  </button>

                <!-- <button class="button" >Delete</button> -->
                <!-- {{allocated_open_seats}}/ -->
            </h3>
        </div>
        <!-- <div *ngIf="element.Name_=='Open Space'">
            <mat-progress-bar mode="determinate" value="0"></mat-progress-bar>
        </div> -->
    </div>
    <div class="dedicated">
        <div>
            <h3 mat-button (click)="openDialog()">
                <!-- <button >Add Service</button> -->
                 Add Space
            </h3>
        </div>
    </div>
</div>