<div class="container">
    <h1>Open-space</h1>
    <div class="open">
        <div class="inner" [routerLink]="['/form-module','Open','70']">
            <h3>
                Open Seats
            </h3>
            <h3>
                <span>{{allocated_open_seats}}/{{total_open_seats}}</span>
            </h3>
        </div>

        <mat-progress-bar mode="determinate" value="{{allocated_open_seats}}"></mat-progress-bar>
    </div>
    <div class="dedicated">
        <div class="inner" [routerLink]="['/form-module','Dedicated','50']">
            <h3>
                Dedicated Seats
            </h3>
            <h3>
                <span>{{allocated_dedicated_seats}}/{{total_dedicated_seats}}</span>
            </h3>
        </div>
        <mat-progress-bar mode="determinate" value="{{allocated_dedicated_seats}}"></mat-progress-bar>
    </div>
</div>